<div class="leftmenu">
    <button mat-icon-button [matMenuTriggerFor]="layerMenu" >
        <mat-icon>layers</mat-icon>
    </button>
    <div *ngIf="layerInfo=='age'">
    </div>
    <div *ngIf="layerInfo=='happiness'">
    </div>
    
</div>

<mat-menu #layerMenu="matMenu" class="layerButtonClass" [hasBackdrop]="false">
    <button mat-menu-item  matTooltip="Demograph" [matMenuTriggerFor]="statMenu" (click)="$event.stopPropagation()">
        <mat-icon  class="layerIcon" >assessment</mat-icon>
    </button>
</mat-menu>


<mat-menu #statMenu="matMenu" class="layerButtonClass" [hasBackdrop]="false">
    <button mat-menu-item  matTooltip="age"  (click)="layerInfo='age'">
        <mat-icon  class="layerIcon">face</mat-icon>
    </button>
</mat-menu>







